.clients {
    @media screen and (min-width: $mobile) {
    
    }
    @media screen and (min-width :$tablet) {
        
    }
    @media screen and (min-width :$desktop) {
        padding: 94px 0; 
        
    }
}

.clients__list { 

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and (min-width: $mobile) {
    
    }
    @media screen and (min-width :$tablet) {
        
    }
    @media screen and (min-width :$desktop) {
        
    }

}

.clients__item {
    height: 92px;
    margin: 15px;
    @media screen and (min-width: $mobile) {
        max-width: 210px;
        flex-basis: calc((100%-60px)/2);
    }
    @media screen and (min-width :$tablet) {
        max-width: 226px;
        flex-basis: calc((100%-90px)/3);
    }
    @media screen and (min-width :$desktop) {
        max-width: 170px;
        flex-basis: calc((100%-180px)/6);
    
    }


.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: #AFB1B8;


    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-duration: 250ms;
    transition-property: fill, border;

    &:hover,
    &:focus {
        fill: $accent-color;
        border: 1px solid #2196F3;
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width :$tablet) {
        
    }
    @media screen and (min-width :$desktop) {
        
    }
    }
}

}
