// feature
.feature {
    padding: 60px 0;

    @include media (desktop) {
        padding: 94px 0 47px;
    }

}


.feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @include media (desktop) {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}

.feature__item {
    margin: 15px;

    @include media (tablet) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @include media (desktop) {
        flex-basis: calc((100% - 120px) / 4);
    }
}

.feature__card {
    margin-bottom: 30px;

    background: $grey-ultra-light-color;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;

    @include media (mobile) {
        width: 450px;
    }

    @include media (tablet) {
        width: 354px;
    }

    @include media (desktop) {
        width: 270px;
    }
}

.feature__title {
    margin: 0 0 10px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    text-align: center;

    @include media (mobile) {
        display: block;
    }

    @include media (tablet) {
        text-align: left;
    }
}

.feature__subtitle {
    margin: 0;

    color: $grey-color;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}