
// feature
.feature {
    padding: 94px 0 47px;
}

.feature__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__item {
    width: 270px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.feature__card {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $grey-ultra-light-color;

    width: 270px;
    height: 120px;
}

.feature__title {
    margin: 0 0 10px;
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.feature__subtitle {
    margin: 0;

    color: $grey-color;

    line-height: 1.71;
    letter-spacing: 0.03em;
}
