// feature
.feature {
            @include media (mobile) {}

            @include media (tablet) {}

            @include media (desktop) {}
        // padding: 94px 0 47px;
    }


.feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

            @include media (mobile) {}

            @include media (tablet) {}

            @include media (desktop) {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}

.feature__item {
    margin: 15px;

    @include media (mobile) {
        flex-basis: calc((100% - 60px)/2);
    }
    

    @include media (tablet) {
        flex-basis: calc((100% - 90px)/3);
}
    

    @include media (desktop) {}
}

.feature__card {
    background: $grey-ultra-light-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media (mobile) {
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
    }

    @include media (tablet) {
        width: 354px;
        height: 120px;
    }

    @include media (desktop) {
        width: 270px;
        height: 120px;
    }




}

.feature__title {
    margin: 0 0 10px;
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;


    @include media (mobile) {
        text-align: center;
        display: block;
    }

    @include media (tablet) {
        text-align: left;
    }

    @include media (desktop) {
        text-align: left;
    }
}

.feature__subtitle {
    margin: 0;

    color: $grey-color;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}