.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.filter__button {
    padding: 6px 22px;
    
    color: $title-text-color;
    background-color: $grey-ultra-light-color;
    border: 0;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration:250ms;
    transition-property:color, background-color, box-shadow;

    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.filter__button.current {
    color: $primary-white-color;
    background-color: $accent-color;
}