.footer {
    padding: 60px 0;
    background-color: $background-color;

}

.address-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media (tablet) {
        flex-wrap: wrap;
    }

    @include media (not-desktop) {
        margin-bottom: 60px;
    }

    @include media (desktop) {
        align-items: flex-start;
        flex-direction: column;
    }
}


.logo__footer {
    display: inline-block;
    color: $primary-white-color;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 0;
}


.address__item {
    height: 21px;
    margin-bottom: 8px;

    @include media (desktop) {
        margin-bottom: 9px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.address__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media (tablet) {
        align-items: flex-start;
    }

    @include media (desktop) {
        width: 231px;
    }
}

.address__link-address {
    color: $primary-white-color;

    font-style: normal;
    letter-spacing: 0.03em;
}

.address__link {
    padding: 0;
    color: $grey-light-color;

    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

// social

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media (tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include media (desktop) {
        align-items: baseline;
        flex-direction: row;
    }
}

.footer__social {
    text-align: center;

    @include media (tablet-only) {
        margin-bottom: 60px;
    }

    @include media (desktop) {
        text-align: start;
        margin-left: 70px;
    }
}

.footer__social-list {
    display: flex;

}

.footer__social-item {
    display: flex;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.socials__link--dark {
    @extend.socials__link;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $primary-white-color;
    transition-property: background-color;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

// form

.form {
    display: flex;
    flex-direction: column;

    width: 100%;
    text-align: center;

    @include media (desktop) {
        text-align: start;
        margin-left: 93px;
        width: 570px;
    }
}

.form__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media (desktop) {
        flex-direction: row;
    }

    .form__input {
        margin-bottom: 20px;
        padding: 15px 10px 15px 16px;
        width: 100%;

        font-size: 16px;
        background: $background-color;
        color: $background-color-for-hero;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: transparent;
        transition-property: solid;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border: 1px solid $accent-color;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;

            color: rgba(255, 255, 255, 0.6);
        }

        @include media (tablet) {
            width: 450px;
        }

        @include media (desktop) {
            margin: 0;
        }
    }

    .form__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;

        padding: 10px 28px 10px 29px;

        fill: $primary-white-color;

        @include media (desktop) {
            margin-left: 12px;
        }
    }

    .form__icon {
        padding: 0;
        margin-left: 10px;
    }
}