// hero

.hero {
    margin: auto;
    padding: 200px 0;
    max-width: 1600px;
    width: 100%;

    background-color: $background-color-for-hero;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @include media(not-desktop) {
        padding: 118px 0;
    }

    background-image:$linear-gradient,
        url(../images/hero/bg_sm.jpg);

    @include media (retina) {
        background-image:$linear-gradient,
        url(../images/hero/bg_sm@2x.jpg);
    }

    @include media (tablet) {
        background-image: $linear-gradient,
            url(../images/hero/bg_md.jpg);

    @include media (retina) {
            background-image:$linear-gradient,
                url(../images/hero/bg_md@2x.jpg);
        }
    }

    @include media (desktop) {
        background-image: $linear-gradient,
            url(../images/hero/bg_lg.jpg);

        @include media (retina) {
            background-image: $linear-gradient,
                url(../images/hero/bg_lg@2x.jpg);
        }
    }

}

.hero__container {
    text-align: center;
}

.hero__title {
    margin: 0 auto 30px;

    color: $primary-white-color;

    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include media(not-desktop) {
        max-width: 360px;
        font-size: 26px;
        line-height: 1.61;
    }

    @include media(desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}