// hero

.hero {
    padding: 200px 0;
    margin: auto;

    background-color: $background-color-for-hero;

    background-image:
    linear-gradient(
    rgba(47, 48, 58, 0.475),
    rgba(47, 48, 58, 0.475)),
    url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px; 
}

.hero__container {
    text-align: center;
}

.hero__title {
    max-width: 696px;
    margin: 0 auto 30px;

    color: $primary-white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

