// hero

.hero {
    margin: auto;
    max-width: 1600px;
    width: 100%;

    background-color: $background-color-for-hero;

    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.475), rgba(47, 48, 58, 0.475)),
        url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    @include media(not-desktop) {
        padding: 118px 0;
    }
}

.hero__container {
    text-align: center;
}

.hero__title {
    margin: 0 auto 30px;

    color: $primary-white-color;

    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include media(not-desktop) {
        max-width: 360px;
        font-size: 26px;
        line-height: 1.61;
    }

    @include media(desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}