.logo {
    text-decoration: none;
    margin-right: 93px;

    color: $title-text-color;
    font-family: $secondary-font-family;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-name {
    color: $accent-color;
}

