.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;

    background-color: transparent;
    z-index: 2;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: opacity;

    & .menu__link--open {
        opacity: 0;
        pointer-events: none;
    }

    &.is-open .menu__link--open {
        opacity: 1;
    }

    &.is-open .menu__link--close {
        opacity: 0;
        pointer-events: none;
    }

    @include media (tablet) {
        display: none;
    }

}

.menu-container {
    @include media (tablet-only) {
        position: fixed;
        top: 0;
        left: 0;

        opacity: 0;
        pointer-events: none;


        width: 100%;
        height: 100%;
        padding: 48px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: $primary-white-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        transition-property: opacity;

        &.is-open {
            opacity: 1;
            pointer-events: all;
        }
    }

    @include media (tablet) {
        display: flex;
        align-items: center;

    }
}


.mob-socials {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    @include media (tablet) {
        display: none;
    }
}

.mob-socials__item {
    margin: 5px;

    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);

    }
}

.mob-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;

    letter-spacing: 0.02em;

    color: $accent-color;
}