// Navigation

.nav__list {
    display: flex;

    @include media (mobile) {
        flex-direction: column;

    }

    @include media(tablet) {
        margin-right: 84px;
        flex-direction: row;
        align-items: center;
    }

    @include media (desktop) {
        margin-right: 305px;
    }
}

.nav__item:not(:last-child) {
    @include media(mobile) {
        margin-bottom: 32px;
    }

    @include media(tablet) {
        margin-right: 50px;
        margin-bottom: 0;
    }

    @include media (desktop) {
        // margin-right: 305px;
        margin-bottom: 0;
    }
}


.nav__link {

    font-weight: 500;
    letter-spacing: 0.02em;
    color: $title-text-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }
        
        @include media (mobile) {
            font-size: 40px;
            line-height: 1.175;
        }

    @include media(tablet) {
        font-size: 14px;
        line-height: 1.14;
        position: relative;
        display: block;
        padding: 32px 0;
        }

        @include media (desktop) {
            font-size: 14px;
            line-height: 1.14;
            position: relative;
            display: block;
            padding: 32px 0;
        }
    }


.nav__link.current {
    &:after {
        content: "";
        position: absolute;
        bottom: -1.5px;
        left: 0;

        width: 100%;
        height: 4px;

        background: $accent-color;
        border-radius: 2px;

    }

    @include media (mobile) {}

    @include media(tablet) {}

    @include media (desktop) {
        color: $accent-color;
        position: relative;


    }
}