.header {
    border-bottom: 1px solid #ECECEC;
}

.nav,
.header__container  {
    display: flex;
    align-items: center;
}

// Navigation

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding: 32px 0;

    color: $title-text-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;

        &:hover,
        &:focus {
        color: $accent-color;
}
}

.nav__link.current {
    color: $accent-color;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: -1.5px;
        left: 0;

        width: 100%;
        height: 4px;

        background: $accent-color;
        border-radius: 2px;
    }
}

// Contacts

.contacts {
    display: flex;
    align-items: center;
    margin-left: 305px;
}

.contacts__item:not(:last-child){
    margin-right: 30px;
}

.contacts__link {
    display: flex;
    align-items: center;
    padding: 32px 0;

    color: $grey-color;
    fill: $grey-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-duration: 250ms;
    transition-property: color, fill;

    &:hover,
    &focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

.contacts__icon {
    margin-right: 10px;
}
