.portfolio__section {
    padding: 94px 0;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

    .portfolio__card {
    margin: 0 30px 30px 0;

    &:nth-child(3n+3) {
        margin-right: 0;
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}

.portfolio__link{
    display: block;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-duration: 250ms;
    transition-property: box-shadow;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio__text,
    &:focus .portfolio__text {
        transform: translateY(0);
        opacity: 1;
    }
}


.portfolio__block {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: 0;
}

.portfolio__title {
    margin: 0 0 4px;

    color: $title-text-color;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__subtitle {
    margin: 0;

    color: $grey-color;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio__text {
    position: absolute;
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    transition-duration: 250ms;
    transition-property: transform, opacity;
    top: 0;
    bottom: 0;
    opacity: 0;

    padding: 63px 24px;
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: $primary-white-color;

    background: rgba(33, 150, 243, 0.9);
}

.portfolio__overlay {
    position: relative;
    overflow: hidden;
}
