.services {
    padding: 47px 0 94px;
}

.services__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.services__description {
    position: absolute;
    bottom: 0;
    padding: 27px;
    right: 0;
    left: 0;

    margin: 0;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;

    background: rgba(47, 48, 58, 0.8);
}