.team {
    background-color: #F5F4FA;

    @media screen and (min-width: $mobile) {}

    padding: 60px 0;

    @media screen and (min-width :$tablet) {}

    padding: 60px 0;

    @media screen and (min-width :$desktop) {
        padding: 47px 0;

    }
}

.team__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width :$tablet) {}

    @media screen and (min-width :$desktop) {}

}

.team__card {
    background-color: $primary-white-color ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px;

    @include media (mobile) {
        max-width: 450px;
        flex-basis: calc((100% - 30px)/1);
        // margin-bottom: 30px;
    }

    @media screen and (min-width :$tablet) {
        max-width: 354px;
        flex-basis: calc((100% - 60px)/2);
    }

    @media screen and (min-width :$desktop) {
        // margin: 15px;
        max-width: 270px;
        flex-basis: calc((100% - 120px)/4);
        // margin: 0 30px 0 0;

    }

}

.team__card-content {
    text-align: center;
    @include media (desktop) {
        padding: 30px 32px;
    }
    
    @include media (not-desktop) {
            padding: 30px 0 24px;
    }


}

.team__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0 0 10px 0;

    &:last-child {
        margin-right: 0;
    }
}

.team__card-description {
    color: $grey-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0 0 16px;
}