// Всі базові стилі з  bodi  юСкидання списків посилань, підзаголовків , параграфів
html {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: $primary-text-color;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    font-family: $primary-font-family
}

.section-title {
    color: var $title-text-color;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.image {
    width: 100%;
    height: auto;
    display:block;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.accent-text {
    display: block;
    margin-bottom: 20px;
    margin-top: 0;

    color: $primary-white-color;


    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


