// Палітра кольорів макета і набори шрифтів
$primary-text-color: #2a2a2a;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$grey-color: #757575;
$grey-light-color: rgba(255, 255, 255, 0.6);
$grey-ultra-light-color: #F5F4FA;
$background-color: #2F303A;
$background-color-for-hero:#C4C4C4;

$primary-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway;